.rodape {
  position: fixed;
  bottom: 0;
  display: flex;
  border-width: 2px;
  justify-content: center;
  align-items: center;

}

.linharodape {
  position: absolute;
  height: 5px;
  left: 200px;
  width: 1750px;
  background-color: #00a9c9;
  bottom: 64px;
}
